@page
@model RentnRoll.Pages.Account.LoginModel
@{
}

<header class="bg-dark text-white py-3">
    <div class="container text-center">
        <h2>Account</h2>
    </div>
</header>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["SuccessMessage"]
    </div>
}
<body class="bg-light">
    <div class="container mt-4 p-4 border rounded bg-white">
        <h3 class="text-center mb-4">Login</h3>
        <form method="post">
            <label>Email: </label>
            <input type="email" asp-for="Email" required />

            <label>Password</label>
            <input type="password" asp-for="Password" required />

            <button type="submit">Login</button>
        </form>
    </div>
</body>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color: red">@Model.ErrorMessage</p>
}