@page
@model RentnRoll.Pages.Account.LogoutModel
@{
}
<header class="bg-dark text-white py-3">
    <div class="container text-center">
        <h2>Account</h2>
    </div>
</header>
<body class="bg-light">
    <div class="container mt-4 p-4 border rounded bg-white">
        <form method="post">
            <label>Are you sure you want to logout?</label>
            <button type="submit" class="btn btn-primary align-content-center">Logout</button>
        </form>
    </div>
</body>