@page
@model RentnRoll.Pages.Account.RegisterModel
@{
}


<h1>Registera ny användare</h1>

<form method="post">
    <label>E-post: </label>
    <input type="email" asp-for="Email" required />
    
    <label>Lösenord: </label>
    <input type="password" asp-for="Password" required />

    <button type="submit">Registrera</button>
</form>


@if (!string .IsNullOrEmpty(Model.ErrorMessage))
{
<p style="color: red">@Model.ErrorMessage</p>
}