@page
@model RentnRoll.Pages.Admin.DeleteModel
@{
}

<h1>Delete Vehicles</h1>

<form method="post">

    <button type="submit" class="btn-danger" >Delete Vehicle</button>
    <a href="/Index" class="btn btn-primary">Cancel</a>



</form>