@page
@model RentnRoll.Pages.Admin.EditModel
@{
}

<h1>Edit vehicles</h1>

<form method="post">
    <input type="hidden" asp-for="Vehicle.VehicleID" />

    <label>Brand:</label>
    <input type="text" asp-for="Vehicle.Brand" required />

    <label>Modell:</label>
    <input type="text" asp-for="Vehicle.Model" required />

    <label>Type:</label>
    <input type="text" asp-for="Vehicle.Type" required />

    <label>Year:</label>
    <input type="number" asp-for="Vehicle.Year" required />

    <label>Price per day:</label>
    <input type="number" asp-for="Vehicle.PricePerDay" required />

    <label>Transmission:</label>
    <input type="text" asp-for="Vehicle.TransmissionType" required />

    <label>Desciption:</label>
    <textarea asp-for="Vehicle.Description"></textarea>

    <label>IMG-URL:</label>
    <input type="text" asp-for="Vehicle.ImageURL" />

    <button type="submit">Save changes</button>
<<<<<<< HEAD
    <a href="/index">Return Home</a>
=======
    <a href="/Index">Return Home</a>
>>>>>>> 1f218589843db1da0cbb4003d64e0bc3e5341d69
</form>
