html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

article.unavailable {
    opacity: 0.7;
    pointer-events: none;
    filter: grayscale(50%);
}
.unavailable {
    opacity: 0.5; /* Gör bilen halvtransparent */
}

.unavailable .btn {
    pointer-events: auto; /* Tillåter klick på knapparna */
}