@page
@model RentnRoll.Pages.BookingModel
@{
}
<header class="bg-dark text-white py-3">
	<div class="container text-center">
		<h1 class="display-4">Booking</h1>
		<p class="lead">Summary of your order</p>
	</div>
</header>
<body>


</body>